{% extends "::builder_base_layout.html.twig" %}

{% block title %}
    {% if title is defined and title != 'ACCUEIL' %}{{title}} - {{ parent() }}
    {% else %}{{ parent() }} - Sitebuilder
    {% endif %}
{% endblock %}

{% block header %}
    {% if app.request.attributes.get('_route') != "builder_buildpage_username" %}
        {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Header'})) }}
    {% else %}
        {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'UserHeader', 'request': request})) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <div id="menu" data-start="@class: no" data--10-top="@class: fixnav">
        {% if app.request.attributes.get('_route') != "builder_buildpage_username" %}
            {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Menu'})) }}
        {% else %}
            {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'UserMenu', 'request': request})) }}
        {% endif %}
    </div>
    
{% endblock %}

{% block body %}
    Default body
{% endblock %}

{% block footer %}
    {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Footer'})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Possible aussi d'ajouter un fichier js #}
    {% stylesheets '@AdminBundle/Resources/public/css/body_layout.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}