{% extends "::OLD:builder_base_layout.html.twig" %}

{% block title %}Site - {{ parent() }}{% endblock %}

{% block header %}
    {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Header'})) }}
{% endblock %}

{% block menu %}
    {# <div id="menu">
      {{ render(controller("BuilderPageBundle:Builder/BuildContent:menu", {'menuName': 'Principal', 'style':'main'})) }}
    </div> #}
    {{ render(controller("BuilderPageBundle:Builder/BuildPage:menuPrincipal", {'menuName': 'Principal', 'request': request})) }}
{% endblock %}

{% block body %}
    Default
{% endblock %}

{% block footer %}
    {{ render(controller("BuilderPageBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Footer'})) }}
{% endblock %}
